<div class="container-fluid">
    <div class="row">
        {{> dashboard_sidebar }}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>


            <h2 class="sub-header">Users:</h2>
            <div class="table-responsive">
                <table class="table table-striped js-sort-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Password</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each students}}
                        <tr>
                            <td>{{_id}}</td>
                            <td>{{name}}</td>
                            <td>{{user_id}}</td>
                            <td>{{email}}</td>
                            <td>{{phone}}</td>
                            <td>{{role}}</td>
                            <td>{{password}}</td>
                            <td><a href="edit/{{_id}}">Edit</a> | <a href="remove/{{_id}}">Remove</a> | <a
                                    href="reports/{{user_id}}"> View Activity</a></td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>